
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation 5</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel='stylesheet' type='text/css'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<style>
body  {
    background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");

}
</style>
</head>
<body>

<a href="http://zurb.com/article/1469/foundation-building-blocks-over-100-compo" class="grid-banner">
</a>

<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');

    </script>
<div class="row">
<div class="large-12 columns">

<nav class="top-bar" data-topbar>
<ul class="title-area">

<div class="hide-for-small">
<div id="featured"><img alt="slide image" src="http://www.hdwallpapersfreedownload.com/uploads/large/3d-and-abstract/red-abstract-wallpapers.jpg"></div>

</div>

<div class="row">
<div class="small-12 show-for-small"><br>
<img src="https://placehold.it/1000x600&amp;text=For%20Small%20Screens"></div>
</div>
</div>
</div><br>
<div class="row">
<div class="large-12 columns">
<div class="row">


<div class="large-3 small-6 columns">

<iframe width="225" height="150" src="https://www.youtube.com/embed/xrbrQhpvn8E" frameborder="0" allowfullscreen></iframe>
<h6 class="panel">This youtube video contains a 24/7 live stream radio that plays relaxing music.</h6>
</div>
<div class="large-3 small-6 columns">
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1247863031%3Aplaylist%3A4sBk0ujtbmkmfbkMH18fGl" width="225" height="150" frameborder="0" allowtransparency="true"></iframe>
<h6 class="panel">Click on this spotify playlist to listen to a selection of music in the rock genre.</h6>
</div>
<div class="large-3 small-6 columns">
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A37i9dQZF1DX0BcQWzuB7ZO" width="225" height="150" frameborder="0" allowtransparency="true"></iframe>
<h6 class="panel">This playlist contains music best suited for dancing. Volume warning!</h6>
</div>
<div class="large-3 small-6 columns">
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A37i9dQZF1DX4sWSpwq3LiO" width="225" height="150" frameborder="0" allowtransparency="true"></iframe>
<h6 class="panel">This playlist contains soothing piano music. Don't fall asleep yet. </h6>
</div>
</div>
</div>
</div>
<div class="row">
<div class="large-12 columns">
<div class="row">

<div class="large-8 columns">
<div class="panel radius">
<div class="row">
<div class="large-6 small-6 columns">
<h4>What does this website do?</h4>
<hr>
<h5 class="subheader">This website's sole purpose is to share all kinds of music.</h5>
<h4> Got something to share?
<%= link_to 'Share it here', new_record_path %></h5>
<footer class="row">
<div class="large-12 columns">
<hr>
<div class="row">
<div class="large-6 columns">
<p>© Copyright E.Liao 2017</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
</ul>
</div>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>
