<div class="hero-section">
  <div class="hero-section-text">
    <h1>The Historical Society</h1>
    <h5>Educate yourself</h5>
  </div>
</div>

<%= link_to 'Browse our list of Articles', controller: 'articles' %>
<div> </div>
<%= link_to 'Browse our esteemed reviewers!', controller: 'reviewers' %>
<div> </div>
<%= link_to 'List of all of our authors', controller: 'authors' %>
<div> </div>
<%= link_to 'Check out all of the reviews', controller: 'reviews' %>
<div> </div>
<div> </div>
<div> </div>
